<%- include("header") %>

<%- include("components/tab") %>

<div class="content-wrapper">
        <div class="content">
           <div class="row">
               <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
                 <div class="form-group">
                   <input name="title" type="text" class="form-control" value="<%=blogEdit.title %>" placeholder="请输入标题"/>
                 </div>
                 <div class="form-group">
                   <textarea name="content" type="text" placeholder="请输入内容" id="summernote"><%-blogEdit.content %></textarea>
                 </div>
                 <div class="form-group">
                  <label for="name">文章分类：</label>
                  <select name="categoryType" value="1004">
                    <% categoryTypes.forEach(function(item){ %>
                      <% if(item.value == blogEdit.categoryType){ %>
                        <option value="<%= item.value %>" selected label="<%=item.name %>"></option>
                      <% } else { %>
                        <option value="<%= item.value %>" label="<%=item.name %>"></option>
                      <% } %>
                    <% }) %>
                  </select>
                </div>
                 <div class="form-group">
                   <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-primary">提交</button>
                   </div>
                 </div>
               </form>
           </div>
        </div>
</div>

<%- include("footer") %>